<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <title>{% block title %}Workshop{% endblock %}</title>
</head>

<body>

	User: {{ user.username }}
	{% if user.is_authenticated %}
		<li><a href="/logout/?next=/">Logout</a></li	
	{% else %}
		<li><a href="/login">Login</a></li>
	{% endif %}

    <div id="sidebar">
        {% block sidebar %}
	<ul>
	   <li><a href="/exercises/">Home</a></li> 
           <li><a href="/exercises/course/">Courses</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

