<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Workshop{% endblock %}</title>
</head>

<body>

User: {{ user.get_full_name }}

    <div id="sidebar">
        {% block sidebar %}
        <ul>
	   <li><a href="/exercises/">Home</a></li> 
           <li><a href="/exercises/course/">Courses</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

